{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<h2><span class="purple-text">{{ user.username }}</span> Profile Page</h2>

<container id="profile-content">
    <div class="profile-section">
        <img id="profile-pic" src="{{ user.profile_picture }}">
    </div>
    <div class="profile-section">
        <p>Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.bio }}</p>
        <a href="{% url 'users:editAccount' request.user.id %}">Edit Profile</a>
    </div>
</container>

<h2>My Stories</h2>
<div id="all-stories">
    {% if user_stories %}
        {% for story in user_stories %}
            {% include "news/storyCard.html" with story=story position=forloop.counter %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div>


{% endblock %}