{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<h2><span class="purple-text">{{ profile.username }}</span> Profile Page</h2>

<container id="profile-content">
    <div class="profile-section">
        <img id="profile-pic" src="{{ profile.profile_picture }}">
    </div>
    <div class="profile-section">
        <p>Name: {{ profile.first_name }}</p>
        <p>Last Name: {{ profile.last_name }}</p>
        <p>Username: {{ profile.username }}</p>
        <p>Email: {{ profile.email }}</p>
        <p>Bio: {{ profile.bio }}</p>
        <a href="{% url 'users:editAccount' request.user.id %}"><button class="button1">Edit Profile</button></a>
    </div>
</container>

<h2>{{ profile.username }}'s Stories</h2>
<div id="all-stories">
    {% if user_stories %}
        {% for story in user_stories %}
            {% include "news/storyCard.html" with story=story %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div>



{% endblock %}