{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Hayley van Waas">
        <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
            {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <a id="header-link" href="{% url 'news:index' %}">
                <img src="{% static 'news/images/logo.png' %}">
            </a>
            {% include './nav.html' %}
        </header>
        {% block content %}{% endblock %}
    </body>
    
    <footer>
        <p>this is my footer</p>
    </footer>
</html>
