{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
    <container class="form-box">
        <form id="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                {{ form.as_p }}
            </div>
            <input class="button1" type="submit" value="submit">
        </form>
    </container>
    {% else %}
        <div class="center-items">
            <h2>Oh no! You need to be logged in to post a story.</h2>
        </div>
        <div class="center-items">
            <a href="{% url 'users:createAccount' %}"><button class="button1">CREATE ACCOUNT</button></a><br/>&nbsp
            <a href="{% url 'login' %}"><button class="button1">LOGIN</button></a>
        </div>
    {% endif %}
        

{% endblock %}