{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
    <container class="form-box">
        <form id="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                {{ form.as_p }}
            </div>
            <input class="button1" type="submit" value="submit">
        </form>
    </container>
    {% else %}
        <div>
            <h4>Oh no! You need to be logged in to post a story.</h4>
            <a href="{% url 'users:createAccount' %}">Create Account</a><br/>
            <a href="{% url 'login' %}">Login</a>
        </div>
    {% endif %}
        

{% endblock %}