{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    
    <h2>Welcome <span class="purple-text">{{ user.username }}</span>!</h2>
    <div class="center-items">
        <a href="{% url 'news:newStory' %}"><button class="button1">WRITE A NEW STORY</button></a>&nbsp
        <a href="{% url 'news:allStories' %}"><button class="button1">ALL STORIES</button></a>
    </div>
    <br/>
    <h2>Latest Stories</h2>
    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
    <br/><br/></br>

{% endblock %}
