{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }} - {{ story.pub_date }}</h4>
    <div id="story-content">
        {% if story.image_url %}
            <img id="story-image" src="{{ story.image_url }}">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
    <button type="submit"><a href="{% url 'news:editStory' story.id %}">Edit</a></button>
</div>

{% endblock %}
