{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }} - {{ story.pub_date }}</h4>
    <div id="story-content">
        {% if story.image_url %}
            <img id="story-image" src="{{ story.image_url }}">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
    {% if request.user.is_author %}
        <button type="submit"><a href="{% url 'news:editStory' story.id %}">Edit</a></button>
    {% endif %}
</div>
<container class="center-items">
    <div>
        <form method="POST" action="{% url 'news:addComment' story.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button1" type="submit">Add Comment</button>
        </form>
    </div>
    
    <ul>
    {% for comment in story.comments.all %}
        <li class="comment-tag">
            <p>{{ comment.author.username }} {{ comment.created_at }}:</p>
            <p>{{ comment.content }}</p>
        </li>
    {% endfor %}
    </ul>
</container>   
</div>

{% endblock %}
